spring:
    datasource:
        url: {{jdbcUrl}}
        driver-class-name: {{jdbcDriverClassName}}
        username: {{username}}
        password: {{password}}
        hikari:
            connection-timeout: 60000
            maximum-pool-size: 5

server:
    port : 9081

logging:
    level:
        root: INFO
        org.springframework.web: ERROR

