<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <parent>
        <artifactId>{{artifactParentId}}</artifactId>
        <groupId>{{artifactGroupId}}</groupId>
        <version>{{artifactVersion}}</version>
    </parent>

    <modelVersion>4.0.0</modelVersion>

    <artifactId>{{artifactId}}</artifactId>
    <name>::: {{artifactParentId}} ::: {{artifactId}}</name>
    <description>::: {{artifactParentId}} ::: {{artifactId}}</description>


    <dependencies>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-actuator</artifactId>
        </dependency>

        <dependency>
            <groupId>org.springdoc</groupId>
            <artifactId>springdoc-openapi-ui</artifactId>
        </dependency>

        <dependency>
            <groupId>{{& artifactGroupId}}</groupId>
            <artifactId>{{artifactParentId}}-impls</artifactId>
        </dependency>
    </dependencies>


    <build>
        <plugins>
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
                <version>${{=<% %>=}}{spring-boot.version}<%={{ }}=%></version>
                <executions>
                    <execution>
                        <goals>
                            <goal>repackage</goal>
                        </goals>
                        <configuration>
                            <classifier>exec</classifier>
                        </configuration>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>
    <profiles>
        <profile>
            <id>docker</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>

            <build>
                <plugins>
                    <plugin>
                        <groupId>org.springframework.boot</groupId>
                        <artifactId>spring-boot-maven-plugin</artifactId>
                        <version>${{=<% %>=}}{spring-boot.version}<%={{ }}=%></version>
                        <executions>
                            <execution>
                                <goals>
                                    <goal>repackage</goal>
                                </goals>
                                <configuration>
                                    <classifier>exec</classifier>
                                </configuration>
                            </execution>
                        </executions>
                    </plugin>
                    <!--Para que se livere la imagen de docker al momento del release plugin -->
                    <plugin>
                        <groupId>org.apache.maven.plugins</groupId>
                        <artifactId>maven-release-plugin</artifactId>
                        <version>${{=<% %>=}}{maven.release.plugin.version}<%={{ }}=%></version>
                        <configuration>
                            <preparationGoals>clean verify -Pdocker docker:build</preparationGoals>
                            <goals>deploy docker:build docker:push</goals>
                        </configuration>
                    </plugin>

                    <plugin>
                        <groupId>com.spotify</groupId>
                        <artifactId>dockerfile-maven-plugin</artifactId>
                        <version>${{=<% %>=}}{dockerfile-maven-plugin.version}<%={{ }}=%></version>

                        <executions>
                            <execution>
                                <id>default</id>
                                <goals>
                                    <goal>build</goal>
                                    <goal>tag</goal>
                                    <goal>push</goal>
                                </goals>
                            </execution>
                        </executions>
                        <configuration>
                            <repository>{{artifactParentId}}</repository>
                            <tag>${{=<% %>=}}{project.version}<%={{ }}=%></tag>
                            <useMavenSettingsForAuth>false</useMavenSettingsForAuth>
                            <googleContainerRegistryEnabled>false</googleContainerRegistryEnabled>
                            <buildArgs>
                                <appJar>${{=<% %>=}}{project.artifactId}<%={{ }}=%>-${{=<% %>=}}{project.version}<%={{ }}=%>-exec.jar</appJar>
                            </buildArgs>
                        </configuration>
                    </plugin>
                </plugins>
            </build>
        </profile>
    </profiles>

</project>
