package {{restPackage}};

import {{contextPackage}}.in.*;
import {{contextPackage}}.output.*;
import {{objectPackage}}.*;
import {{builderPackage}}.*;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.bind.annotation.RequestMapping;
import io.swagger.v3.oas.annotations.Operation;

@RestController
@RequestMapping(value = "/{{javaVariableName}}")
public class {{javaClassName}}RestController {

private {{javaClassName}} {{javaVariableName}};

{{#procedureList}}
    {{^hasResultSetParam}}
        @Operation(summary = "{{javaProcedureName}}", description = "{{procedureDescription}}" )
        {{#hasInParameters}}
        @PostMapping("/{{javaProcedureName}}")
        {{/hasInParameters}}
        {{^hasInParameters}}
        @GetMapping("/{{javaProcedureName}}")
        {{/hasInParameters}}
        {{storedProcedureClassName}}Out {{javaProcedureName}}({{#hasInParameters}}@RequestBody {{storedProcedureClassName}}In input{{/hasInParameters}}){
        return {{javaVariableName}}.{{javaProcedureName}}({{#hasInParameters}}input{{/hasInParameters}});
        }
    {{/hasResultSetParam}}
{{/procedureList}}


@Autowired
public void set{{javaClassName}}({{javaClassName}} {{javaVariableName}}) {
this.{{javaVariableName}} = {{javaVariableName}};
}
}
