package {{packageName}};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;


@SpringBootApplication
public class {{className}}RestApp {

public static void main(String[] args) {
SpringApplication.run({{className}}RestApp.class, args);
}
}
